@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
@media (max-width: 700px){

    body {
       background: #e6e1e3;
       background: linear-gradient(360deg,rgba(230, 225, 227, 1) 0%, rgba(148, 187, 233, 1) 100%);
       min-height: 50vh;
    }
    
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    .wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 85vh;
        flex-direction: column;
        margin-top: 1.5rem;
    }

    h1 {
        margin-bottom: 10%;
        margin-top: 13%;
        font-family: "Josefin Sans", sans-serif;
        font-weight: 25rem;
        font-size: 3rem;
    }

    .username {
        border: 1;
        border-radius: 8px;
        padding: 5px 10px;
    }

    .email {
        border-radius: 8px;
        padding: 5px 10px;
    }

    .password {
        border-radius: 8px;
        padding: 5px 10px;
    }

    .age {
        border-radius: 8px;
        padding: 5px 10px;
    }

    .username, .email, .password, .age {
        margin-bottom: 4%;
        background-color: rgb(230, 227, 223);
        font-family: "Playfair Display", serif;
        font-size: 0,9375rem;
        font-weight: 100px;
        box-shadow: 2.5px 2.5px 5px black;
    }

    .button {
        margin-bottom: 5%;
        padding: 7px 45px;
        display: flex;
        align-items: center;
        justify-self: center;
        border-radius: 6px;
        background-color: lch(75.12% 40.33 321.09);
        box-shadow: 2.5px 2.5px 10px black;
        font-size: 1,4375rem;
        font-weight: 100px;
        font-family: "Josefin Sans", sans-serif;
        transition: 0.3s ease;
    }

    .account {
        margin-top: 2%;
        font-family: "Josefin Sans", sans-serif;
        font-size: 0.901rem;
    }

    .username, .email, .password, .age, .button, h1, .account {
        display: flex;
        align-items: center;
        justify-self: center;
        border: 0;
    }
    
    .back {
        background: rgba(255, 255, 255, 0);
        border-radius: 16px;
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(4.8px);
        -webkit-backdrop-filter: blur(4.8px);
        border: 1px solid rgba(255, 255, 255, 0.3);
        min-height: 60vh;
        min-width: 55vh;
        border-radius: 8px;
        border: 2px solid hsla(0, 0%, 20%, 0.3);
        box-shadow: 4.5px 4.5px 10px rgb(0, 0, 0);
    }
    
    .button:hover {
        cursor: pointer;
        background-color: rgb(163, 43, 145);     
        color: white;                
        transform: scale(1.10);       
        box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5); 
      
      form div.incorrect input{
        border: 2px solid red;
    }

    #error-msg {
        color: red;
        display: flex;
        align-items: center;
        justify-self: center;
    }
}

}


@media (min-width: 701px) {

    body {
       background: #e6e1e3;
       background: linear-gradient(135deg, #1e1e2f, #2a2a40);
    }

    
    
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    .wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 125vh;
        flex-direction: column;
        margin-top: 2.5rem;
    }

    h1 {
        margin-bottom: 15%;
        margin-top: 20%;
        font-family: "Josefin Sans", sans-serif;
        font-weight: 25rem;
        font-size: 3rem;
    }

    .username {
        border: 1;
        border-radius: 8px;
        padding: 5px 10px;
    }

    .email {
        border-radius: 8px;
        padding: 5px 10px;
    }

    .password {
        border-radius: 8px;
        padding: 5px 10px;
    }

    .age {
        border-radius: 8px;
        padding: 5px 10px;
    }

    .username, .email, .password, .age {
        margin-bottom: 4%;
        background-color: rgb(230, 227, 223);
        font-family: "Playfair Display", serif;
        font-size: 0,9375rem;
        font-weight: 100px;
        box-shadow: 2.5px 2.5px 5px black;
    }

    .button {
        margin-bottom: 5%;
        padding: 7px 45px;
        display: flex;
        align-items: center;
        justify-self: center;
        border-radius: 6px;
        background: linear-gradient(135deg, #8a2be2, #ff4ecd);
        box-shadow: 2.5px 2.5px 10px black;
        font-size: 1,4375rem;
        font-weight: 100px;
        font-family: "Josefin Sans", sans-serif;
        transition: 0.3s ease;
    }

    .username, .email, .password, .age, .button, h1, .account {
        display: flex;
        align-items: center;
        justify-self: center;
        border: 0;
    }
    
    .back {
        background: rgba(255, 255, 255, 0);
        border-radius: 16px;
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(4.8px);
        -webkit-backdrop-filter: blur(4.8px);
        border: 1px solid rgba(255, 255, 255, 0.3);
        min-height: 60vh;
        min-width: 55vh;
        border-radius: 8px;
        border: 2px solid hsla(0, 0%, 20%, 0.3);
        box-shadow: 4.5px 4.5px 10px rgb(0, 0, 0);
    }
    
    .button:hover {
        cursor: pointer;
        background-color: rgb(163, 43, 145);     
        color: white;                
        transform: scale(1.10);       
        box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5); 
    }

    .link {
        margin-left: 32.5%;
    }
}
